<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Site_open_WinForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Site_open_WinForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <Site_open_WinForms.Properties.Settings>
            <setting name="KS" serializeAs="String">
                <value>https://directum.akelon.com/Login.aspx?ReturnUrl=%2f</value>
            </setting>
        </Site_open_WinForms.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Site_open_WinForms.Properties.Settings>
            <setting name="WebInfoSite" serializeAs="String">
                <value>https://club.directum.ru/webhelp/directumrx/web/index.html?provodnik_sistemy.htm</value>
            </setting>
            <setting name="DevelopInfoSite" serializeAs="String">
                <value>https://club.directum.ru/webhelp/directumrx/sds/index.html?sds_sreda_razrabotki_sds.htm</value>
            </setting>
            <setting name="KnowledgeSite" serializeAs="String">
                <value>http://kmknowledge.akelon.com/</value>
            </setting>
            <setting name="ServiceSite" serializeAs="String">
                <value>https://service.akelon.com/app</value>
            </setting>
        </Site_open_WinForms.Properties.Settings>
    </userSettings>
</configuration>